<% if @student.errors.any? %>
  <h2>There were errors saving your Student information</h2>
  <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @student do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
   <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <strong>Emergency Contact - Full Name</strong>
    <%= f.text_field :emerg_contact_name, class: 'form-control' %>
  </div>
    <div class="form-group">
    <strong>Emergency Contact - Phone Number</strong>
    <%= f.text_field :emerg_contact_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :section %>
    <%= f.collection_select :section_id,  @sections , :id, :name, {include_blank: true}, {class: 'form-control'} %>
  </div>
  <%= f.submit class: 'btn btn-lg btn-default' %>
<% end %>