<% if @section.errors.any? %>
  <h2>There were errors saving your Section information</h2>
  <ul>
    <% @section.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @section do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-lg btn-default' %>
<% end %>
