<h2>Your Sections</h2>
<div class="table-responsive">
<table class="table table-hover">
	<tr>
		<th>Section Name</th>
		<th># of Students</th>
		<th>&nbsp;</th>
	</tr>
<% @sections.each do |section| %>
	<% @count_students = Student.where(section_id: section.id).count %>
	<tr>
		<td><%= section.name %></td>
		<td><%= @count_students %></td>
		<td><%= link_to "View", section_path(section.id), class: "btn btn-info btn-sm" %>&nbsp;&nbsp;&nbsp;<%= link_to "Edit", edit_section_path(section.id), class: "btn btn-warning btn-sm" %>&nbsp;&nbsp;&nbsp;<%= link_to "Delete", section_path(section.id)	, method: 'delete', confirm: "Are You Sure?", class: "btn btn-danger btn-sm" %></td>
	</tr>
	<% end %>
</table>

<h3><%= link_to "Add a Section", new_section_path, class: "btn btn-default btn-large" %></h3>