<div class="jumbotron">
  <h1>Welcome to eduOuting</h1>
  <h3>Lets go somewhere! eduOuting allows teachers, students and parents to view and maintain information about upcoming class outings.</h3>
   <br/>
  <h4>Enter Your Outing Code to View Your Outing</h4>
<form class="form-group" role="search">
 <div class="row">
    <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Code..." width="6" name="public_id">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</form>
<p>&nbsp;</p>
<% if user_signed_in? %>
  <% if Teacher.find(current_user.id).first_name.empty? %>
    <h4>Hi there! It looks like you haven't given us your name. <%= link_to 'Click here', edit_teacher_path(current_user.id) %> to update your profile!</h4>
  <% else %>
    <h4>Hi <%= Teacher.find(current_user.id).first_name %>, Welcome Back!</h4>
  <% end %>
  <h5>Options: <%= link_to "View/Manage Your Class Outings", trips_path %> | <%= link_to "Manage Your Sections", sections_path %></h5>  
<% else %>
  <h4>Teachers: <%= link_to 'Create an account', new_user_registration_path %> or <%= link_to 'Log-in', new_user_session_path %> to manage your trips</h4>
<% end %>
</div>