

<h2>Viewing All Teachers</h2>

<table>
	<tr>
		<td>Teacher</td>
		<td># of Sections</td>
		<td>&nbsp;</td>
	</tr>
<% @teachers.each do |teacher| %>
   <% @teacher_count_section = Section.count %>
	<tr>
		<td><%= teacher.first_name %> <%= teacher.last_name %></td>
		<td><%= @teacher_count_section %></td>
		<td><%= link_to "Details" , teacher_path(teacher.id) %> | <%= link_to "Edit", edit_teacher_path(teacher.id) %> | </td>
	</tr>
	<% end %>
</table>

<h3><%= link_to "Add a Teacher", new_teacher_path %></h3>