<!DOCTYPE html>
<html lang="en">
  <head>
  <%= typekit 'zaz1qfw' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>eduOuting</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body class="container-fluid">
<nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-family: chaloops-medium;">eduOuting</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/trips/">Manage Outings</a></li>
            <li><a href="/sections/">Manage Sections</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Account</li>
            <li><%= link_to "My Profile", edit_teacher_path(current_user.id) %></li>
            <li><a href="/users/edit">Modify Account</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            <li><a href="/users/sign_in">Login</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>

    <%= yield %>

    <div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  <center>
  Created by Michael Simon <strong>&bull;</strong> Made with &hearts; in NYC<br/>
  Powered by <%= image_tag("foursquare-icon.png") %>oursquare
  </center>
  </div>
  </body>
</html>
